body {
    font-family: sans-serif;
    margin: 40px;
    background-color: #f5ac3f;
}
.top-bar {
    position: relative;
    background-color: #d63e12;
    color: #f5ac3f;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.top-bar h1 {
    margin: 0;
    font-size: 2.5em;
}

.top-bar-right {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
}

.top-bar-right h2 {
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 1em;
    color: #f5ac3f;
}

#searchBox {
    display: flex;
    padding: 4px 6px;
    font-size: 0.8em;
    width: 140px;
    border: none;
    border-radius: 20px;
    background-color: #f5ac3f;
    margin-right: 10px;
}
#searchBox:focus {
    outline:none;
}
.top-bar-right-button {
    background-color: #f5ac3f;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #d63e12;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 4px;
}

button:hover {
    background-color: #e59a29;
}


form input, textarea {
    display: block;
    margin: 10px 0;
    width: 300px;
}


button {
    padding: 10px 20px;
    background-color: #d63e12;
    color: #f5ac3f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #b3330f;
}
.notebook {
    background: url('/static/images/notebook.jpg') no-repeat center center;
    background-size: cover;
    padding: 40px;
    width: 80%;
    min-height: 650px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
}

.notebook input,
.notebook textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
    resize: none;
}

.notebook textarea {
    overflow: hidden;
    transition: height 0.2s ease;
}

.add-btn {
    background-color: #d63e12;
    color: #f4b75b;
    padding: 5px 12px;
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.notebook button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d63e12;
    color: #eab76b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
